$box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);

div.monitor {
  padding: 1rem;
  display: flex;
  flex-flow: column;
  gap: 2rem;

  div.monitor__btn_container {
    padding: 1rem;
    box-shadow: $box-shadow;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .monitor__data_container {
    padding: 1rem;
  }
}